extends layout

block content

    .row
        .col-md-6
            .container-fluid
                .row
                    .panel.panel-default
                        .panel-heading Resource activity distribution
                        .panel-body
                            #resourceActivityChart
                .row
                    .panel.panel-default
                        .panel-heading Resource failure distribution
                        .panel-body
                            #resourceFailureChart


        .col-md-6
            .container-fluid
                .row
                    .panel.panel-default
                        table.table.table-striped
                            thead
                                tr
                                    th Resource
                                    th Activity rate
                                    th Failure rate
                            tbody
                                each res in activeResources
                                    tr
                                        td
                                            a(href='/ui/dashboards/resource/' + res.id)= res.Name
                                        td= res.Rate
                                        td= res.Failures
                .row
                    .panel.panel-default
                        .panel-heading Entity counts
                        .panel-body
                            #countsChart