extends layout

block content

    h3= 'File "' + file.file.data.name + '"'


    .container-fluid
        .row
            .col-md-6
                h4 Related resources
                table.table.table-striped
                    thead
                        tr
                            th File name
                    tbody
                        each resource in file.resources
                            tr

                                td
                                    a(href='/ui/dashboards/resource/' + resource.metadata.id)= resource.data.name

            .col-md-6
                h4 Related servers

                table.table.table-striped
                    thead
                        tr
                            th Server
                            th Weight
                    tbody
                        each server in file.servers
                            tr
                                td
                                    a(href='/ui/dashboards/server/' + server.metadata.id)= server.data.fqdn
                                td= server.data.weight