extends layout

block content

    .row
        .col-md-6
            .container
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-heading Resource activity distribution
                            .panel-body
                                #resourceActivityChart
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-heading Resource failure distribution
                            .panel-body
                                #resourceFailureChart


        .col-md-6
            .container
                .row
                    .col-md-6
                        .panel.panel-default
                            table.table.table-striped
                                tr
                                    th Resource
                                    th Activity rate
                                    th Failure rate
                                each res in activeResources
                                    tr
                                        td
                                            a(href='/ui/dashboards/resource/' + res.id)= res.Name
                                        td= res.Rate
                                        td= res.Failures
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-heading Entity counts
                            .panel-body
                                #countsChart